
<div class="topnav">

<% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path %>
    <%= link_to "My account", edit_user_registration_path, class: "nav-link" %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Pricing", home_pricing_path %>
<%end %>

</div>